.Xauthority
.admiral/
.bar/
.bash_history
.bash_logout
.bashrc
.cache/
.cargo/
.config/2048-qt/
.config/Qlipper/
.config/Trolltech.conf
.config/admiral.d/pid/
.config/admiral.d/timedate
.config/dconf/
.config/enchant/
.config/fontconfig/
.config/gedit/
.config/gpick/
.config/gtk-3.0/
.config/htop/
.config/i3/
.config/lxqt/
.config/neofetch/
.config/nobleNote/
.config/openbox/
.config/pcmanfm-qt/
.config/pulse/
.config/qterminal.org/
.config/user-dirs.dirs
.config/user-dirs.locale
.eclipse/
.fonts/
.gcalcli_cache
.gcalcli_oauth
.gitconfig
.gtkrc-2.0
.histfile
.ir-deplo-tools-profile/
.lesshst
.local/
.m2/
.mozilla/
.ncmpcpp/
.oh-my-zsh/
.p2/
.profile
.python_history
.selected_editor
.ssh/
.sudo_as_admin_successful
.swt/
.tooling/
.vim/
.viminfo
.xinitrc
.xsession-errors
.zcompdump
.zcompdump-sujit-vbox-5.5.1
.zsh_history
.zshrc.pre-oh-my-zsh
Desktop/
LICENSE
eclipse-workspace/
java/
lemonbar
lemonbar-xft/
plsignore
quickfix/
xtitle/
